
7031 - Tyler and Alexis's code begins.


Let background "cover". 
Download backgrounds as svg's.


Universal overrides:  
p {margin: 0 0 0 0}
.js {padding:0 0 0 0; padding-bottom:0 !important}

Large monitors: 2560 px 
Heading font: font-size: 135px;
Images: border-radius:85px;

Most monitors: 1920px
Heading font: font-size:96px;
Images: border-radius:52px;

Large laptops: 1440px
Heading font: font-size: 75px;
Images: border-radius:42px;

Medium Laptops: 1280px 
Heading font: font-size: 62px;
Images: border-radius:20px;

Small Laptops: 1024px
Heading font: font-size: 56px;
Images: border-radius:20px;

Tablets: 768px
Heading font: 
Images: 

Large Mobile 425px x 956px
Heading font: font-size: 25px;

Medium Mobile 375px

Small Mobile 320px

/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/
/* MEDIA QUERIES */
/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/

/* Large laptops - 1440px */
@media all and (max-width: 1441px) and (min-width: 1282px) {} /* End of Large laptops - 1440px */

/* Medium laptops - 1280px */
@media all and (max-width: 1281px) and (min-width: 1026px) {} /* End of Medium Laptops - 1280px */

/* Small laptops - 1024px */
@media all and (max-width: 1025px) and (min-width: 750px) {} /* End of Small Laptops - 1024px */

/* Large phone screens - 425px */
@media all and (max-width: 425px) and (min-width: 377px) {} /* End of Large phone screens - 425px */

/* Medium phone screens - 375px */
@media all and (max-width: 376px) and (min-width: 322px) {} /* End of Large phone screens - 425px */

/* Small phone screens - 320px */
@media all and (max-width: 321px) {} /* End of Small (most) phone screens - 320px */


/* My monitors: 1920 x 937px ... screen size is 1920 x 1080 */
/* iPhone 13 + iphone 13 pro: 390px x 844px */