/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/
/* SHOP (An individual product) PAGE */
/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/

.shopWrapper {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100%;
  padding: 125px 175px;
}

.shopHeading {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  margin-bottom: 125px;
}

.shopHeading h1 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  font-size: 96px;
}

#shopSlashes1 {
  position: relative;
  right: 15px;
  top: 8px;
}

#shopSlashes2 {
  position: relative;
  top: 5px;
  left: 5px;
}

/* Both of the columns are put into a row (to put them side by side) */
.shopWrapper .product-single {
  display:flex;
}

/* Left column with the three product images */
.shopWrapper .product-single__media-group {
  display:flex;
  flex-direction:column;
  width:40%;
}

.shopWrapper .product-single .product-single__hero > div > div {
  width:100%;
}

.shopWrapper .product-single__image-wrapper > div {
  padding: 0 !important;
}

/* the wrapper for the three product images */
.shopWrapper .product-single__thumbnails {
  display:flex;
  margin: 0;
  gap: 4rem;
}

.shopWrapper .grid__item img {
  border-radius: 50px;
}

/* Right column with product info */
.shopWrapper .product-single > div + div {
  display:flex;
  flex-direction:column;
  width: 80%;
  margin-left: 8rem;
}

.shopWrapper .product-single__title, .shopWrapper .product-single__price, .shopWrapper .btn {
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0;
}

.shopWrapper .product-single__title {
  font-size: 50px;
}

.shopWrapper .product-single__prices {
  margin-bottom: 4rem;
}

.shopWrapper .product-single__price {
  font-size: 40px;
  font-weight: 600;
}

.shopWrapper form {
  display:flex;
  flex-direction: column;
  gap: 2rem;
}

.shopWrapper #ProductSelect-product-template {
  display: none;
}

.line-item-property__field label, #shop-division, .shopQuantity label, .shop-termsBoxWrapper {
  margin-left: 3rem;
}

.line-item-property__field label, .shopQuantity label, .line-item-property__field btn, .line-item-property__field input, .shopQuantity input, .line-item-property__field input::placeholder, .shopQuantity::placeholder, .line-item-property__field input:focus, .shopQuantity input:focus {
  font-size:1.8rem;
}

.line-item-property__field label, .shopQuantity label, .line-item-property__field btn {
  color:white;
  font-family:'Montserrat';
  text-transform:uppercase;
  font-weight:600;
  letter-spacing:0.1em;
}

.line-item-property__field input, .shopQuantity input {
  width:100%;
  background-color: rgba(105, 105, 105, 0.5);
  border: none;
  border-radius: 100px;
  height:6rem;
}

.line-item-property__field input, .line-item-property__field input::placeholder, .line-item-property__field input:focus, .shopQuantity input, .shopQuantity input::placeholder, .shopQuantity input:focus, #shop-division {
  color: #888;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.05em;
}

#shop-division {
  font-size: 1rem;
}

.shop-termsBoxWrapper {
  display:flex;
  flex-direction:row;
  gap: 2rem;
}

.shop-termsBoxWrapper input[type="checkbox"] {
  width:5.5rem;
  border: 4px solid #FA4454;
  border-radius: 20px;
  background-color: transparent;
}

.shop-termsBoxWrapper input[type="checkbox"]:after {
  background-color: #FA4454;
}

#shop-termsBox {
  font-family: 'Montserrat';
  font-style: normal;
  text-transform: none;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin: 0;
  padding-top: 1rem;
  font-size: 25px;
  line-height: 35px;
}

.shopWrapper form .btn {
  align-self:center;
  background-color: #FA4454;
  color: rgba(255,255,255);
  border:none;
  text-align:center;
  letter-spacing: 0.15rem;
  margin: 0;
  border-radius:20rem;
  font-size: 20px;
  width: 18rem;
  height: 3rem;
}

.shopWrapper form .btn:hover {
  background-color: rgba(0,0,0,0.5);
}

.shopWrapper form .btn value {
  align-self:center;
  text-align:center;
}

.shopWrapper .helpButtons {
  margin-top: 6rem;
  width: 100%;
}

.shopWrapper .panel a {
  text-decoration: underline;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~ Shop page responsiveness ~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* breakpoint - 1750px */
@media all and (max-width: 1760px) and (min-width: 1442px) {
.shopWrapper {
  padding: 100px 150px;
}

.shopHeading {
  margin-bottom: 100px;
}

.shopHeading h1 {
  font-size: 96px;
}

#shopSlashes1 {
  position: relative;
  right: 15px;
  top: 8px;
}

#shopSlashes2 {
  position: relative;
  top: 5px;
  left: 5px;
}

.shopWrapper .product-single__thumbnails {
  gap: 3.125rem;
}
  
.shopWrapper .grid__item img {
  border-radius: 50px;
  width: 100%;
}
  
/* Right column with product info */
.shopWrapper .product-single > div + div {
  margin-left: 6.25rem;
}

.shopWrapper .product-single__title {
  font-size: 39px;
}

.shopWrapper .product-single__prices {
  margin-bottom: 3.125rem;
}

.shopWrapper .product-single__price {
  font-size: 31.25px;
}

.shopWrapper form {
  gap: 2rem;
}

.line-item-property__field label, #shop-division, .shopQuantity label, .shop-termsBoxWrapper {
  margin-left: 3rem;
}

.line-item-property__field label, .shopQuantity label, .line-item-property__field btn, .line-item-property__field input, .shopQuantity input, .line-item-property__field input::placeholder, .shopQuantity::placeholder, .line-item-property__field input:focus, .shopQuantity input:focus {
  font-size:1.4rem;
}

.line-item-property__field input, .shopQuantity input {
  border-radius: 100px;
  height:4.69rem;
}

#shop-division {
  font-size: 0.78125rem;
}

.shop-termsBoxWrapper {
  gap: 2rem;
}

.shop-termsBoxWrapper input {
  max-width:4.3rem;
}

#shop-termsBox {
  padding-top: 1rem;
  font-size: 19.5px;
  line-height: 27.3px;
}

.shopWrapper form .btn {
  letter-spacing: 0.15rem;
  margin: 0;
  border-radius:20rem;
  font-size: 15.6px;
  width: 14rem;
  height: 2.8rem;
}
  
.shopWrapper form .btn:hover {
  background-color: rgba(0,0,0,0.5);
}

.shopWrapper .helpButtons {
  margin-top: 4.69rem;
}
  
} /* End of breakpoint - 1750px */


/* Large laptops - 1440px */
@media all and (max-width: 1441px) and (min-width: 1282px) {
.shopWrapper {
  padding: 100px 150px;
}

.shopHeading {
  margin-bottom: 100px;
}

.shopHeading h1 {
  font-size: 96px;
}

#shopSlashes1 {
  position: relative;
  right: 15px;
  top: 8px;
}

#shopSlashes2 {
  position: relative;
  top: 5px;
  left: 5px;
}
  
/* Left column with three product images */  
.shopWrapper .product-single__media-group {
  width: 50%;
}

.shopWrapper .product-single__thumbnails {
  gap: 3.125rem;
}
  
.shopWrapper .grid__item img {
  border-radius: 50px;
  width: 90%;
}
  
/* Right column with product info */
.shopWrapper .product-single > div + div {
  margin-left: 0;
  width: 75%;
}

.shopWrapper .product-single__title {
  font-size: 39px;
}

.shopWrapper .product-single__prices {
  margin-bottom: 3.125rem;
}

.shopWrapper .product-single__price {
  font-size: 31.25px;
}

.shopWrapper form {
  gap: 2rem;
}

.line-item-property__field label, #shop-division, .shopQuantity label, .shop-termsBoxWrapper {
  margin-left: 3rem;
}

.line-item-property__field label, .shopQuantity label, .line-item-property__field btn, .line-item-property__field input, .shopQuantity input, .line-item-property__field input::placeholder, .shopQuantity::placeholder, .line-item-property__field input:focus, .shopQuantity input:focus {
  font-size:1.4rem;
}

.line-item-property__field input, .shopQuantity input {
  border-radius: 100px;
  height:4.69rem;
}

#shop-division {
  font-size: 0.78125rem;
}

.shop-termsBoxWrapper {
  gap: 2rem;
}

.shop-termsBoxWrapper input {
  max-width:4.3rem;
}

#shop-termsBox {
  padding-top: 1rem;
  font-size: 19.5px;
  line-height: 27.3px;
}

.shopWrapper form .btn {
  letter-spacing: 0.15rem;
  margin: 0;
  border-radius:20rem;
  font-size: 15.6px;
  width: 14rem;
  height: 2.8rem;
}
  
.shopWrapper form .btn:hover {
  background-color: rgba(0,0,0,0.5);
}

.shopWrapper .helpButtons {
  margin-top: 4.69rem;
}
  
} /* End of Large laptops - 1440px */



/* Medium laptops - 1280px */
@media all and (max-width: 1281px) and (min-width: 1026px) {
.shopWrapper {
  padding: 75px 100px;
}

.shopHeading {
  margin-bottom: 75px;
}

.shopHeading h1 {
  font-size: 96px;
}

#shopSlashes1 {
  position: relative;
  right: 15px;
  top: 8px;
}

#shopSlashes2 {
  position: relative;
  top: 5px;
  left: 5px;
}  

.shopWrapper .product-single__thumbnails {
  gap: 3.125rem;
}
  
.shopWrapper .grid__item img {
  border-radius: 50px;
  width: 100%;
}
  
/* Right column with product info */
.shopWrapper .product-single > div + div {
  margin-left: 6.25rem;
}

.shopWrapper .product-single__title {
  font-size: 39px;
}

.shopWrapper .product-single__prices {
  margin-bottom: 3.125rem;
}

.shopWrapper .product-single__price {
  font-size: 31.25px;
}

.shopWrapper form {
  gap: 2rem;
}

.line-item-property__field label, #shop-division, .shopQuantity label, .shop-termsBoxWrapper {
  margin-left: 3rem;
}

.line-item-property__field label, .shopQuantity label, .line-item-property__field btn, .line-item-property__field input, .shopQuantity input, .line-item-property__field input::placeholder, .shopQuantity::placeholder, .line-item-property__field input:focus, .shopQuantity input:focus {
  font-size:1.4rem;
}

.line-item-property__field input, .shopQuantity input {
  border-radius: 100px;
  height:4.69rem;
}

#shop-division {
  font-size: 0.78125rem;
}

.shop-termsBoxWrapper {
  gap: 2rem;
}

.shop-termsBoxWrapper input {
  max-width:2.5rem;
}

#shop-termsBox {
  padding-top: 0.8rem;
  font-size: 14.5px;
  line-height: 22.3px;
}

.shopWrapper form .btn {
  letter-spacing: 0.15rem;
  margin: 0;
  border-radius:20rem;
  font-size: 15.6px;
  width: 14rem;
  height: 2.8rem;
}
  
.shopWrapper .helpButtons {
  margin-top: 4.69rem;
}
  
} /* End of Medium Laptops - 1280px */



/* Small laptops - 1024px */
@media all and (max-width: 1025px) and (min-width: 750px) {
.shopWrapper {
  padding: 50px 75px;
}

.shopHeading {
  margin-bottom: 50px;
}

.shopHeading h1 {
  font-size: 75px;
}

#shopSlashes1 {
  width: 15.5%;
  right: 15px;
  top: 5px;
}

#shopSlashes2 {
  width: 21.5%;
  top: 3px;
  left: 5px;
}  

/* Left column with three product images */  
.shopWrapper .product-single__media-group {
  width: 50%;
}

.shopWrapper .product-single__thumbnails {
  gap: 2.44rem;
}
  
.shopWrapper .grid__item img {
  border-radius: 50px;
  width: 80%;
}
  
/* Right column with product info */
.shopWrapper .product-single > div + div {
  margin-left: 0;
}

.shopWrapper .product-single__title {
  font-size: 23.43px;
}

.shopWrapper .product-single__prices {
  margin-bottom: 2.44rem;
}

.shopWrapper .product-single__price {
  font-size: 24.4px;
}

.shopWrapper form {
  gap: 1.56rem;
}

.line-item-property__field label, #shop-division, .shopQuantity label, .shop-termsBoxWrapper {
  margin-left: 2.34rem;
}

.line-item-property__field label, .shopQuantity label, .line-item-property__field btn, .line-item-property__field input, .shopQuantity input, .line-item-property__field input::placeholder, .shopQuantity::placeholder, .line-item-property__field input:focus, .shopQuantity input:focus {
  font-size:1rem;
}

.line-item-property__field input, .shopQuantity input {
  border-radius: 78.125px;
  height:3.66rem;
}

#shop-division {
  font-size: 0.78125rem;
}

.shop-termsBoxWrapper {
  gap: 2rem;
}

.shop-termsBoxWrapper input {
  max-width:2.5rem;
}

#shop-termsBox {
  padding-top: 0.4rem;
  font-size: 14.5px;
  line-height: 22.3px;
}

.shopWrapper form .btn {
  letter-spacing: 0.15rem;
  margin: 0;
  border-radius:20rem;
  font-size: 12.1875px;
  width: 11rem;
  height: 2.2rem;
}

.shopWrapper .helpButtons {
  margin-top: 4.69rem;
}

} /* End of Small Laptops - 1024px */



/* Large phone screens - 425px */
@media all and (max-width: 450px) {
.shopWrapper {
  padding: 50px 50px;
}

.shopHeading {
  margin-bottom: 50px;
}

.shopHeading h1 {
  font-size: 40px;
}

#shopSlashes1 {
  width: 10.5%;
  right: 4px;
  top: 2px;
}

#shopSlashes2 {
  width: 14%;
  top: 1px;
  left: 3px;
}

.shopWrapper .product-single {
  display:flex;
  flex-direction:column;
}
  
/* Top column (was the left column) */
.shopWrapper .product-single > div {
  width:100%;
  display:flex;
  padding: 0;
  margin: 0;
}

.shopWrapper .product-single__image-wrapper > div {
  padding: 0 !important;
}
  
/* <div> that holds the <ul> of the three product images */
.thumbnails-wrapper {
  position:static;
  margin: 0;
}

/* <ul> holding the three product images */
.shopWrapper .product-single__thumbnails {
  display:flex;
  margin: 0;
  gap: 1rem;
}

/* <a> holding each product image */
.shopWrapper .product-single__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
  
.shopWrapper .grid__item img {
  border-radius: 50px;
  width:80%;
}
  
.shopWrapper .product-single__thumbnails li:nth-child(2), .shopWrapper .product-single__thumbnails li:nth-child(3) {
    display:none;
}
  
.shopWrapper .product-single__thumbnails li {
  padding: 0;
}

/* bottom column (was the right column) */
.shopWrapper .product-single > div + div {
  width:100%;
  margin: 0;
}
  
.shopWrapper .product-single__title {
  text-align: center;
  padding: 0 1rem;
  font-size: 12.4px;
  margin: 0.5rem 0 0 0;
}

.shopWrapper .product-single__prices {
  text-align:center;
  margin-bottom: 1.3rem;
}

.shopWrapper .product-single__price {
  font-size: 12.93px;
}

.shopWrapper form {
  display:flex;
  flex-direction: column;
  gap: 0.83rem;
}

.line-item-property__field label, #shop-division, .shopQuantity label, .shop-termsBoxWrapper {
  margin-left: 1.24rem;
}

.line-item-property__field label, .shopQuantity label, .line-item-property__field btn, .line-item-property__field input, .shopQuantity input, .line-item-property__field input::placeholder, .shopQuantity::placeholder, .line-item-property__field input:focus, .shopQuantity input:focus {
  font-size:0.53rem;
}

.line-item-property__field input, .shopQuantity input {
  border-radius: 41.4px;
  height:1.94rem;
  padding: 4px 24px;
}

#shop-division {
  font-size: 0.41rem;
}

.shop-termsBoxWrapper {
  display:flex;
  flex-direction:row;
  gap: 1rem;
}

.shop-termsBoxWrapper input {
  max-width:1.325rem;
}

#shop-termsBox {
  padding-top: 0.212rem;
  font-size: 7.685px;
  line-height: 11.82px;
}

.shopWrapper form .btn {
  padding: 0;
  border-radius:10.6rem;
  font-size: 6.46px;
  width: 5.83rem;
  height: 1.17rem;
  letter-spacing: 0.08rem;
}

.shopWrapper .helpButtons {
  margin-top: 2.49rem;
  width: 100%;
}
  
} /* End of Large phone screens - 425px */

/* Small (most) phone screens - 320px */
@media all and (max-width: 335px) {
.shopWrapper {
  padding: 35px 35px;
}

.shopHeading {
  margin-bottom: 35px;
}

.shopHeading h1 {
  font-size: 28px;
}

#shopSlashes1 {
  width: 10.5%;
  right: 4px;
  top: 2px;
}

#shopSlashes2 {
  width: 14%;
  top: 1px;
  left: 3px;
}

.shopWrapper .product-single__title {
  text-align: center;
  padding: 0 1rem;
  font-size: 8.68px;
  margin: 0.35rem 0 0 0;
}

.shopWrapper .product-single__prices {
  text-align:center;
  margin-bottom: 0.91rem;
}

.shopWrapper .product-single__price {
  font-size: 9px;
}

.shopWrapper form {
  display:flex;
  flex-direction: column;
  gap: 0.58rem;
}

.line-item-property__field label, #shop-division, .shopQuantity label, .shop-termsBoxWrapper {
  margin-left: 0.87rem;
}

.line-item-property__field label, .shopQuantity label, .line-item-property__field btn, .line-item-property__field input, .shopQuantity input, .line-item-property__field input::placeholder, .shopQuantity::placeholder, .line-item-property__field input:focus, .shopQuantity input:focus {
  font-size:0.37rem;
}

.line-item-property__field input, .shopQuantity input {
  border-radius: 28.98px;
  height:1.358rem;
  padding: 2.8px 16.8px;
}

#shop-division {
  font-size: 0.287rem;
}

.shop-termsBoxWrapper {
  display:flex;
  flex-direction:row;
  gap: 1rem;
}

.shop-termsBoxWrapper input {
  max-width:0.93rem;
}

#shop-termsBox {
  padding-top: 0.15rem;
  font-size: 5.38px;
  line-height: 8.27px;
}

.shopWrapper form .btn {
  padding: 0;
  border-radius:7.4rem;
  font-size: 4.5px;
  width: 4rem;
  height: 0.82rem;
  letter-spacing: 0.056rem;
}

.shopWrapper .helpButtons {
  margin-top: 1.74rem;
  width: 100%;
}
  
} /* End of Small (most) phone screens - 320px */


