/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/
/* HOMEPAGE  */
/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/


body{
    background-color: #3e3e3e;
    color: white;
  }
    
  .template-index .page-container .main-content {
    background-image: url(https://cdn.shopify.com/s/files/1/0550/1871/7362/files/shopbg.svg?v=1656652861);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom:200px;
    padding-top: 4rem;
  }
  
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~ "Shop Now" ~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  
  .homeHeading {
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0 20rem;
  }
  
  #homeImg1 {
    display:flex;
    width:75%;
  }
  
  #homeImg1 img {width:100%}
  
  #homeImg2 {
    display:flex;
    width:35%;
  }
  
  #homeImg2 img {width:100%}
  
  
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~ Best sellers ~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  
  .bestSellers {
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding: 0px 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bestSellers img {width:100%}
  
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~ Featured Collection ~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  
  /* Remove grid padding */
  .grid__item--1652998107269a65a8 {
    padding: 0 0 0 0 !important;
  }
  
  #shopify-section-1652998107269a65a8 {padding: 0 10rem}
  
  /* The <ul> that holds the four product cards */
  #shopify-section-1652998107269a65a8 ul.collectionsul.grid.grid--uniform.grid--view-items {
    display:flex;
    flex-direction:row;
    width:100%;
    padding: 0 10rem;
    gap:2rem;
  }
    
  /* The <li> that is each product card */
  .index-section .collectionsli {
    display:flex;
    width:25%;
  }
  
  /* The <div> that is each product card */
  .index-section .collectionsli .product-card {
    width:100%;
    display:flex;
    flex-direction:column;
    gap:0.5rem;
  }
  
  /* The product card imags */
  #shopify-section-1652998107269a65a8 > div > ul > li > div > div.product-card__image-with-placeholder-wrapper div div img {
    border-radius:40px;
    width:100%;
    height:100%;
    max-width:100%;
    max-height:100%;
  }
  
  #shopify-section-1652998107269a65a8 .product-card__image-wrapper {width:100%; max-width:100%;}
    
  /* The titles that Featured Collections gives each product card */
  #shopify-section-1652998107269a65a8 div.h4.grid-view-item__title.product-card__title {
    display:flex;
    justify-content:center;
    font-family: 'Montserrat';
    color:white;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 35px;
  }
    
  /* Hiding the price */
  .index-section dl.price.price--listing.price--sold-out {
    display:none;
  }
  .index-section .collectionsli dl.price.price--listing {
    display:none;
  }
  
  .index-section .product-card__image-with-placeholder-wrapper {
    position:static;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .index-section .collectionsli .product-card__image-with-placeholder-wrapper .product-card__image-wrapper {
    width:80%;
  }
  
  
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~ See More Button ~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    
  .buttonwrapper {
    display:flex;
    justify-content:center;
  }
    
  #BS-button {
    background-color:#FA4454;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    text-transform:uppercase;
    text-align: center;
    letter-spacing: 0.15em;
    margin-top: 40px;
    margin-bottom: 150px;
    border-radius:58px;
    width:518px;
    height:90px;
    font-size: 35px;
  }
  
  
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~ Twitch Player ~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  
  
  #shopify-section-1652997981381bd320 {
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /* ~~~~~~~~~~~~ HOMEPAGE RESPONSIVENESS ~~~~~~~~~~ */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  
  
  /* Large laptops - 1440px */
  @media all and (max-width: 1442px) and (min-width: 1282px) {
    
  .template-index .page-container .main-content {
    padding-bottom:100px;
  }
  
  .homeHeading {
    padding: 0 15rem;
  }
  
  .bestSellers {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 0px 25rem;
  }
  
  /* The <div> that holds the <ul> that holds the four product cards */
  #shopify-section-1652998107269a65a8 {
    padding: 0 12rem
  }
  
  /* The <ul> that holds the four product cards */
  #shopify-section-1652998107269a65a8 ul.collectionsul.grid.grid--uniform.grid--view-items {
    padding: 0;
    gap:1rem;
  }
  
  /* The product card images */
  #shopify-section-1652998107269a65a8 > div > ul > li > div > div.product-card__image-with-placeholder-wrapper div div img {
    border-radius:40px;
  }
  
  /* The product card titles */
  #shopify-section-1652998107269a65a8 div.h4.grid-view-item__title.product-card__title {
    font-size: 24px;
  }
    
  .index-section .collectionsli .product-card {
    gap: 0;
  }
  
    
  #BS-button {
    margin-top: 0;
    margin-bottom: 8rem;
    border-radius: 58px;
    width: 270px;
    height: 45px;
    font-size: 18px;
  }
  
  
  #shopify-section-1652997981381bd320 iframe {
    padding: 2rem 12rem;
  }
    
  } /* End of Large laptops - 1440px */
  
  
  
  /* Medium laptops - 1280px */
  @media all and (max-width: 1281px) and (min-width: 1026px) {
    
  .template-index .page-container .main-content {
    padding-bottom:75px;
  }
  
  .homeHeading {
    padding: 0 10rem;
  }
  
  .bestSellers {
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 0px 18rem;
  }
  
  /* The <div> that holds the <ul> that holds the four product cards */
  #shopify-section-1652998107269a65a8 {
    padding: 0 10rem
  }
  
  /* The <ul> that holds the four product cards */
  #shopify-section-1652998107269a65a8 ul.collectionsul.grid.grid--uniform.grid--view-items {
    padding: 0;
    gap:1rem;
  }
  
  /* The product card images */
  #shopify-section-1652998107269a65a8 > div > ul > li > div > div.product-card__image-with-placeholder-wrapper div div img {
    border-radius:40px;
  }
  
  /* The product card titles */
  #shopify-section-1652998107269a65a8 div.h4.grid-view-item__title.product-card__title {
    font-size: 24px;
  }
    
  .index-section .collectionsli .product-card {
    gap: 0;
  }
  
    
  #BS-button {
    margin-top: 0;
    margin-bottom: 4rem;
    border-radius: 58px;
    width: 270px;
    height: 45px;
    font-size: 18px;
  }
  
  
  #shopify-section-1652997981381bd320 iframe {
    padding: 4rem 17rem;
  }
    
    
  } /* End of Medium Laptops - 1280px */
  
  
  
  /* Small laptops - 1024px */
  @media all and (max-width: 1025px) and (min-width: 750px) {
  
  .template-index .page-container .main-content {
    padding-bottom:25px;
  }
  
  .homeHeading {
    padding: 0 8rem;
  }
  
  .bestSellers {
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding: 0px 14rem;
  }
  
  /* The <div> that holds the <ul> that holds the four product cards */
  #shopify-section-1652998107269a65a8 {
    padding: 0 7rem
  }
  
  /* The <ul> that holds the four product cards */
  #shopify-section-1652998107269a65a8 ul.collectionsul.grid.grid--uniform.grid--view-items {
    padding: 0;
    gap:0.8rem;
  }
    
  #shopify-section-1652998107269a65a8 .product-card__image-wrapper {
    margin: 0 auto 10px;
  }
  
  /* The product card images */
  #shopify-section-1652998107269a65a8 > div > ul > li > div > div.product-card__image-with-placeholder-wrapper div div img {
    border-radius:40px;
  }
  
  /* The product card titles */
  #shopify-section-1652998107269a65a8 div.h4.grid-view-item__title.product-card__title {
    font-size: 16px;
  }
    
  .index-section .collectionsli .product-card {
    gap: 0;
  }
  
    
  #BS-button {
    margin-top: 0;
    margin-bottom: 1rem;
    border-radius: 58px;
    width: 200px;
    height: 38px;
    font-size: 14px;
  }
  
  
  #shopify-section-1652997981381bd320 iframe {
    padding: 5rem 22rem;
  }
    
  
  } /* End of Small Laptops - 1024px */
  
  
  
  /* Large phone screens - 425px */
  @media all and (max-width: 450px) {
  .template-index .page-container .main-content {
    padding-top: 2rem;
  }
    
    
  .template-index .page-container .main-content {
    padding-bottom:50px;
  }
  
  .homeHeading {
    padding: 0 2rem;
  }
  
  .bestSellers {
    margin-top: 1.8rem;
    margin-bottom: 0.3rem;
    padding: 0px 5rem;
  }
  
  /* The <div> that holds the <ul> that holds the four product cards */
  #shopify-section-1652998107269a65a8 {
    padding: 0 2.5rem
  }
  
  /* The <ul> that holds the four product cards */
  #shopify-section-1652998107269a65a8 ul.collectionsul.grid.grid--uniform.grid--view-items {
    padding: 0;
    gap:0.3rem;
  }
    
  #shopify-section-1652998107269a65a8 .product-card__image-wrapper {
    margin: 0 auto 5px;
  }
  
  /* The product card images */
  #shopify-section-1652998107269a65a8 > div > ul > li > div > div.product-card__image-with-placeholder-wrapper div div img {
    border-radius:16px;
  }
  
  /* The product card titles */
  #shopify-section-1652998107269a65a8 div.h4.grid-view-item__title.product-card__title {
    font-size: 7px;
  }
    
  .index-section .collectionsli .product-card {
    gap: 0;
    margin: 0;
  }
  
    
  #BS-button {
    margin-top: 1rem;
    margin-bottom: 3rem;
    border-radius: 58px;
    width: 114px;
    height: 22px;
    font-size: 7px;
  }
  
  
  #shopify-section-1652997981381bd320 iframe {
    padding: 0;
    width: 340px;
    height: 100px;
  }
    
  
  } /* End of Large phone screens - 425px */
  
  
  
  /* Medium phone screens - 375px */
  @media all and (max-width: 376px) {
  #BS-button {
    margin-bottom: 2.5rem;
  }
    
  #shopify-section-1652997981381bd320 iframe {
    width: 283px;
    height: 80px;
  }  
    
  } /* End of Large phone screens - 375px */
  
  
  
  /* Small phone screens - 320px */
  @media all and (max-width: 321px) {
  #shopify-section-1652998107269a65a8 div.h4.grid-view-item__title.product-card__title {
    font-size: 5px;
  }
  
  #BS-button {
    margin: 0.5rem 0 2rem;
    width: 83px;
    height: 16px;
    font-size: 6px;
  }  
    
  #shopify-section-1652997981381bd320 iframe {
    width: 220px;
    height: 68px;
  }
    
  } /* End of Small (most) phone screens - 320px */
  
  