/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/
/* ABOUT PAGE */
/******************************************************************************************************* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*******************************************************************************************************/

.aboutWrapper {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100%;
  background-image: url(https://cdn.shopify.com/s/files/1/0550/1871/7362/files/aboutbg.svg?v=1656612464);
  background-repeat: no-repeat;
  background-size:cover;
  padding: 125px 0;
  gap:10rem;
}

.aboutHeading {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:center;
  padding: 0 200px;
}

#aboutStatement {
  width:100%;
}

/* .aboutHeadingStatement {
  display:flex;
  flex-direction:column;
  gap: 1rem;
}

#aboutTripleDots {
  width:10%;
}

.aboutHeadingStatement h2 {
  margin: 0;
  font-size: 75px;
}

.aboutHeadingStatement h2, .aboutHeadingStatement h2 + p {
color:white;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
text-transform: uppercase;
line-height: 37px;
}

.aboutHeadingStatement h2 + p {
  font-size: 60px;
}

.aboutHeadingStatement p {
color:white;
font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 38px;
letter-spacing: 0.05em;
} */

.aboutTeam {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap: 4rem;
}

#aboutTeamArt {
  width:100%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~ About page responsiveness ~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Large laptops - 1440px */
@media all and (max-width: 1441px) and (min-width: 1282px) {
.aboutWrapper {
  padding: 75px 0;
  gap:8rem;
}
  
.aboutTeam {
  gap: 2rem;
}

.aboutHeading {
  padding: 0 175px;
}
  
} /* End of Large laptops - 1440px */



/* Medium laptops - 1280px */
@media all and (max-width: 1281px) and (min-width: 1026px) {
.aboutWrapper {
  padding: 75px 0;
  gap:6rem;
}

.aboutHeading {
  padding: 0 125px;
}
  
.aboutTeam {
  gap: 2rem;
}
  
#aboutMeetTeam {
  width: 60%  
}
  
} /* End of Medium Laptops - 1280px */



/* Small laptops - 1024px */
@media all and (max-width: 1025px) and (min-width: 750px) {
.aboutWrapper {
  padding: 50px 0;
  gap:4rem;
}

.aboutHeading {
  padding: 0 100px;
}
  
.aboutTeam {
  gap: 2rem;
}
  
#aboutMeetTeam {
  width: 50%  
}
 
} /* End of Small Laptops - 1024px */



/* Large phone screens - 425px */
@media all and (max-width: 425px) and (min-width: 377px) {
.aboutWrapper {
  padding: 15px 0 25px 0;
  gap: 2rem;
}

.aboutHeading {
  padding: 0 25px;
}
  
.aboutTeam {
  gap: 0.5rem;
}
  
#aboutMeetTeam {
  width: 70%  
}
  
} /* End of Large phone screens - 425px */



/* Medium phone screens - 375px */
@media all and (max-width: 376px) and (min-width: 322px) {
.aboutWrapper {
  padding: 15px 0 25px 0;
  gap: 1rem;
}

.aboutHeading {
  padding: 0 25px;
}
  
.aboutTeam {
  gap: 0.5rem;
}
  
#aboutMeetTeam {
  width: 70%  
}
 
} /* End of Large phone screens - 425px */



/* Small phone screens - 320px */
@media all and (max-width: 321px) {
.aboutWrapper {
  padding: 15px 0 25px 0;
  gap: 1rem;
}

.aboutHeading {
  padding: 0 25px;
}
  
.aboutTeam {
  gap: 0.5rem;
}
  
#aboutMeetTeam {
  width: 65%  
}
 
} /* End of Small (most) phone screens - 320px */

